.ant-drawer-header {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

.ant-drawer-body {
    padding: 0 !important;
}

.Title_Container {
    display: flex;
    justify-content: space-between;
}

.DrawerTitle {
    display: inline-block;
    margin: 0 !important;
}
